<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Portal</title>
  </head>
  <body>
    <h2>Filtered Employees are:</h2>
    <hr />
    {% for emp in emps %}
    <h2>{{emp.name}}</h2>
    <p>company: {{emp.company}}</p>
    <p>salary: {{emp.salary}}</p>
    <p>street: {{emp.street}}</p>
    <p>city: {{emp.city}}</p>
    <hr />
    {% endfor %}
  </body>
</html>
